<% @tweets.each do |tweet| %>
<div class="tweet">
  <h4 class="username"><a href="/<%= User.find(tweet.user_id).username %>">@<%= User.find(tweet.user_id).username %></a></h4>
  <% if tweet.inverse_replies.length > 0 %>
  <p class="reply"><a href="/<%= User.find(tweet.user_id).username %>">@<%= User.find(tweet.user_id).username %></a> replied to <a href="/<%= Tweet.find(tweet.original_id).user.username %>">@<%= Tweet.find(tweet.original_id).user.username %></a>'s <a href="/tweets/<%= tweet.original_id %>">tweet</a>.</p>
  <% elsif tweet.inverse_retweets.length > 0 %>
  <p class="reply"><a href="/<%= User.find(tweet.user_id).username %>">@<%= User.find(tweet.user_id).username %></a> retweeted <a href="/<%= Tweet.find(tweet.original_id).user.username %>">@<%= Tweet.find(tweet.original_id).user.username %></a>'s <a href="/tweets/<%= tweet.original_id %>">tweet</a>.</p>
  <% elsif tweet.inverse_favorites.length > 0 %>
  <p class="reply"><a href="/<%= User.find(tweet.user_id).username %>">@<%= User.find(tweet.user_id).username %></a> favorited <a href="/<%= Tweet.find(tweet.original_id).user.username %>">@<%= Tweet.find(tweet.original_id).user.username %></a>'s <a href="/tweets/<%= tweet.original_id %>">tweet</a>.</p>
  <% end %>

  <% if tweet.hashtags.length > 0 || tweet.mentions.length > 0 %>
    <% @display_text = tweet.text %>
    <% tweet.hashtags.each do |hashtag| %>
      <% @display_text.gsub!(/#{hashtag.name}/, "<a href=\"/hashtags/#{hashtag.name[1..-1]}\">#{hashtag.name}</a>") %>
    <% end %>
    <% tweet.mentions.each do |mention| %>
      <% @display_text.gsub!(/#{mention.name}/, "<a href=\"/#{mention.name[1..-1]}\">#{mention.name}</a>") %>
    <% end %>
    <p><%= @display_text %></p>
  <% else %>
    <p> <%= tweet.text %> </p>
  <% end %>

  <div class="tweet_bottom">
    <p><%= tweet.created_at.to_date %><a href="/tweets/<%= tweet.id %>">Reply</a><a href="/favorites/<%= tweet.id %>">Favorite</a><a href="/retweets/<%= tweet.id %>">Retweet</a><% if tweet.user.id == session[:user_id] %><a href="/tweets/<%= tweet.id %>/delete">Delete</a><% end %></p>
  </div>
</div>
<% end %>
