<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>Twitter JR</title>
</head>
<body>

  <div class="row">
    <div class="col-md-12"><%= erb :_header %></div>
  </div>

  <div class="row twitter-content">
    <div class="col-md-3 col-sm-3 left_column">
      <%= erb :_compose_tweet unless (session[:user_id] == nil || params[:username] == current_user.username) %>
      <% if logged_in? %>
        <%= erb :_suggested_follows if (params[:username] == current_user.username) %>
        <%= erb :_popular_users if (params[:username] == current_user.username) %>
      <% end %>
    </div>

    <div class="col-md-6 col-sm-6 middle_column">
      <%= yield %>
    </div>

    <div class="col-md-3 col-sm-3 right_column">
      <% @tweet_cloud = [] %>
      <% Tweet.all.each { |tweet| tweet.hashtags.each {|hashtag| @tweet_cloud << hashtag.name } } %>
      <%= erb :_tweet_cloud unless session[:user_id] == nil %>
    </div>

  </div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/application.js"></script>

</html>
